<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Inference</title>
</head>
<body>
<form method="post" enctype="multipart/form-data" action="/upload/">{% csrf_token %}
 <div>
   {% if has_multiple_models %}
   <select name="trainer_name">
     {% for trainer_name in models %}
     <option value="{{trainer_name}}">{{trainer_name}}</option>
     {% endfor %}
   </select>
   {% endif %}
   <label for="id_parameters_path">Path to the (pretrained) parameters of the model</label>
   <input type="text" id="id_parameters_path" name="parameters_path" value="{{parameters_path}}"/>
   <label for="id_file">Choose file to upload</label>
   <input type="file" id="id_file" name="file" accept="image/*, .csv, .zip"/>
   <input type="submit" value="Upload">
 </div>
</form>

</body>
</html>